.clear-day
.partly-cloudy-day  {
    background-color: #00c4e2;
    color: white;
}

.cloudy-day
.heavy-rain-day
.lightning-day
.snowy-day
.rainy-day  {
    background-color: #c8d6e5;
    color: black;
}

.clear-night
.partly-cloudy-night
.snowy-night
.rainy-night  {
    background-color: #222f3e;
    color: white;
}