/* APP HEADER */
.page-header  {
    box-sizing: border-box;
    padding-left: 12px;
}
.page-header h3  {
    margin-top: -24px;
    padding-bottom: 10px;
}

.info-bits  {
    height: 6vh;
}

.text-center  {
    text-align: center;
}
/* APP SECTIONS */
.app-section-full-width  {
    border-radius: 5px;
    width: 90%;
    margin: auto;
    margin-top: 1rem;
}

.app-section-half-width-container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    margin: auto;
}

.app-section-half-width  {
    position: relative;
    border-radius: 15px;
    width: 43.5vw;
    height: 43.5vw;
    margin-top: 2.5vw;
    text-align: center;
    line-height: 42.5vw;
    font-weight: bold;
    font-size: 60px;
}

.app-section-data-top  {
    position: absolute;
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 15%;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.app-section-data-top span  {
    position: relative;
    top: -18.5vw;
}

.app-section-data-bottom  {
    position: absolute;
    border-radius: 0 0 15px 15px;
    width: 100%;
    height: 15%;
    margin-top: -15%;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.app-section-data-bottom span  {
    position: relative;
    top: -18.5vw;
    text-transform: capitalize;
}

.day-outlook  {
    padding: 2px;
}

.full-width-flex  {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.app-section-flex-third  {
    width: 28vw;
    text-align: center;
    border-radius: 10px;
}

.right-now-long-range {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;

        h3  {
            background-color: #FF7765 ;
            padding: 1rem;
            border-style: none;
            border-radius: 5px;
            box-sizing: border-box;
            width: 48%;
            margin-top: -8px;
            transition: background-color 0.5s;
        }

        h3:nth-child(2)  {
            text-align: right;
        }

        .active  {
            color: white;
        }

        .inactive  {
            color: grey;
            background-color: #FFBDB4;
        }
}

.long-range-forecast  {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 1rem 1rem;
    box-sizing: border-box;
    color: white;

    .long-range-weather-weekday  {

        h4  {
            margin-bottom: -2px;
            margin-top: 10px;
        }
    }

    .long-range-weather-info  {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .long-range-weather-icon  {
            width: 80px;
            font-size: 48px;
        }

        .long-range-weather-description  {
            width: 100%;
            padding-left: 1rem;
        }

        .long-range-weather-temperature  {
            h3  {
                margin-right: 1rem;
                
            }
        }
    }
}