// 0-20 colours - orange to yellow - 40-20 degrees

.thirty-nine  {
    background-color: 
#f15c26
;
color: white;

}

.thirty-eight  {
    background-color: 
#f26322
;
color: white;

}

.thirty-seven  {
    background-color: 
#f3691e
;
color: white;
}

.thirty-six {
    background-color: 
#f36f1a
;

}

.thirty-five  {
    background-color: 
#f47615
;

}

.thirty-four  {
    background-color: 
#f47c10
;

}

.thirty-three  {
    background-color: 
#f4820a
;

}

.thirty-two  {
    background-color: 
#f48803
;

}

.thirty-one  {
    background-color: 
#f38e00
;

}

.thirty  {
    background-color: 
#f39400
;

}

.twenty-nine  {
    background-color: 
#f29a00
;

}

.twenty-eight  {
    background-color: 
#f1a000
;

}

.twenty-seven  {
    background-color: 
#f0a600
;

}

.twenty-six  {
    background-color: 
#efac00
;

}

.twenty-five  {
    background-color: 
#edb200
;

}

.twenty-four  {
    background-color: 
#ecb700
;

}

.twenty-three  {
    background-color: 
#eabd00
;

}

.twenty-two  {
    background-color: 
#e8c300
;

}

.twenty-one  {
    background-color: 
#e5c800
;

}

.twenty  {
    background-color: 
    #e3ce0a;

}


// 21-30 colours - yellow to green - 20-10 degrees

.nineteen  {
    background-color: 
#dfd001
;    
}

.eighteen  {
    background-color: 
#cacc12
;
}

.seventeen  {
    background-color: 
#b5c61f
;
}

.sixteen  {
    background-color: 
#a2c129
;
}

.fifteen  {
    background-color: 
#8fbb31
;
}

.fourteen  {
    background-color: 
#7db539
;
}

.thirteen  {
    background-color: 
#6cae40
;
}

.twelve  {
    background-color: 
#5ca746
;

}

.eleven  {
    background-color: 
#4b9f4b
;
color: white;

}

.ten  {
    background-color: 
#3c984f
;
color: white;
}

// 31-40 colours - green to blue - 9-0 degrees

.nine  {
    background-color: #2c9053;
color: white;

}

.eight  {
    background-color: #1d9c6a;
color: white;

}

.seven  {
    background-color: #00a781;
color: white;

}
.six  {
    background-color: #00b298;
}

.five  {
    background-color: #00bdaf;
}

.four  {
    background-color: #00c8c5;
}

.three  {
    background-color: #00d2db;
}

.two  {
    background-color: #00cbe1;
}

.one  {
    background-color: #00c4e2;
}

.zero  {
    background-color: #01bcdf;

}

// 41-70 colours - blue to dark blue - negative 0 to negative 30

.minus-one  {
    background-color: #00b9e1;
}

.minus-two  {
    background-color: 
#00b6e4;
}

.minus-three  {
    background-color: 
#00b4e7
;
}

.minus-four  {
    background-color:
#00b1ea
;
}

.minus-five  {
background-color: 
#00aeed
;
}

.minus-six  {
    background-color: 
#00aaf0
;
}

.minus-seven  {
    background-color: 
#00a7f2
;
}

.minus-eight  {
    background-color: 
    #00a4f5
    ;
}

.minus-nine  {
    background-color: 
#00a1f8
;
}

.minus-ten  {
    background-color: 
#009dfb
;
}

.minus-eleven {
    background-color: 
#009afd
;
}

.minus-twelve  {
    background-color: 
#0096ff
;
color: white;
}

.minus-thirteen  {
    background-color: 
#0092ff
;
color: white;

}

.minus-fourteen  {
    background-color: 
#008eff
;
color: white;

}

.minus-fifteen {
    background-color: 
#008aff
;
color: white;

}

.minus-sixteen  {
    background-color: 
#0086ff
;
color: white;

}

.minus-seventeen  {
    background-color: 
#0082ff
;
color: white;

}

.minus-eighteen  {
    background-color: 
#007dff
;
color: white;

}

.minus-nineteen  {
    background-color: 
#0079ff
;
color: white;

}

.minus-twenty  {
    background-color: 
#0074ff
;
color: white;

}

.minus-twenty-one  {
    background-color: 
#006fff
;
color: white;

}

.minus-twenty-two  {
    background-color: 
#0069ff
;
color: white;

}

.minus-twenty-three  {
    background-color: 
#0064ff
;
color: white;

}

.minus-twenty-four  {
    background-color: 
#005eff
;
color: white;

}

.minus-twenty-five  {
    background-color: 
#0057ff
;
color: white;

}

.minus-twenty-six  {
    background-color: 
#0050ff
;
color: white;

}

.minus-twenty-seven  {
    background-color: 
#0048fe
;
color: white;

}

.minus-twenty-eight  {
    background-color: 
#003ffa
;
color: white;

}

.minus-twenty-nine  {
    background-color: 
#2b34f6
;
color: white;

}

.minus-thirty  {
    background-color: 
#4526f1
;
color: white;

}
